*{
    font-size: 1.1rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #DFC4AF;
    text-align: center;
}

h1{
    font-size: 2rem;
    border: 5px solid #BC9F8B;
    background-color: #BC9F8B;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 3%;
}

input{
    padding: 1%;
}

button{
    display: inline-grid;
    max-width: 9%;
    padding: 1% 1.5%;
    margin: 1%;
    border: 5px solid #BC9F8B;
    background-color: white;
}